* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fontmo: 'Mochiy Pop One', sans-serif;
    --fontra: 'Raleway', sans-serif;
}

.grid {
    width: 1400px;
    margin: 0 auto;
}

.posicionamento_header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

header{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

header a {
    font-family: var(--fontra);
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.laranja {
    color: #FF6E22;
    margin-left: 20px;
}

.encontra_pet {
    margin-top: 30px;
}

.encontrar_pets_box {
    display: flex;
}

.imagens_dog {
    flex: 1;
}

.text_1 {
    flex: 1;
}

.text_1 span {
    font-family: var(--fontra);
    font-size: 46px;
    font-weight: 700;
}

.text_1 p {
    font-family: var(--fontra);
    font-size: 22px;
    font-weight: 500;
    margin: 80px 0 50px;
}

.text_1 a {
    font-family: var(--fontmo);
    font-size: 20px;
    background-color: #FF6E22;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.imagens_dog {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.donos {
    width: 176px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
}

